table {
      border: 1px solid black;
      /* border-collapse: collapse; */
    }

    td {
      border: 1px solid black;
      padding: 10px;
    }

    /* Style for the cell with black background */
    .black-cell {
      background-color: black;
      color: white;
    }